<div class="thankyou-main">
    <div class="textcontainer">
        <h1>Thank you!</h1>
        <div class="text-box">
        <p>このリンクをシェアしてみんなにメッセージを残してもらおう</p>
        <%= link_to new_wish_message_url(@wish.id), new_wish_message_url(@wish.id) %>
        <br>
        <p style='margin-top: 20px'>このQRコードをお祝いしたい人に送ってあげよう</p>
        <%= qrcode_tag wish_url(@wish.id), module_size: 5 %>
        <br>
        <%= link_to wish_url(@wish.id), wish_url(@wish.id) %>
        <p style='margin-top: 20px;'>
            <a href="#" onclick="window.print(); return false;">このページを印刷</a>
        </p>
      </div>
    </div>
</div>
