<div class="ui two column stackable padded grid main-image">
    <div class="main-image-left column">
        <div class="main-image-left-box center aligned">
            <h1>大切な人に、サプライズを</h1>
            <p>
                親友や家族に感謝の気持ちを伝えることはなかなかない。だってもうそんな感情、当たり前すぎて今更いうのは恥ずかしいから。でもせっかくの誕生日。一年に一度の特別な日。あなたの大切な人に、普段は言えない気持ちをBirthdayWishesを使って伝えてみませんか？
            </p>
            <a href="#">メッセージを送る</a>

        </div>
    </div>
    <div class="main-image-right column"></div>
</div>
<div class="intro">
    <h1>BirthdayWishesとは</h1>

    <div class="ui three column stackable padded grid introduction">
        <div class="column circle">

        </div>
        <div class="column circle">

        </div>
        <div class="column circle">

        </div>
    </div>
</div>
