<div class="thankyou-main">
    <div class="textcontainer">
        <h1 class="thank-title">thank you!</h1>
        <div class="text-box">
            <p>お名前：<%= @message.name %></p>
            <p>メッセージ：<%= @message.body %></p>
            <p>アイコン<br><%= image_tag @message.icon.to_s, style: "width:200px; height:200px;" %></p>
        </div>
    </div>
</div>
