/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'semantic-ui';


// reset CSS
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  color:rgb(120, 120, 120);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// common

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
  font-size: 30px;
  margin-bottom: 5px;
}


// top index
.main-image{
  padding-top: 70px !important;
  height: 600px;
  background-image: url('jeremy-cai-66284.jpg');
  background-size: cover;
  background-position: center;
  .main-image-left{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    .main-image-left-box{
      padding: 120px 60px 40px;
      h1{
        font-size: 40px
      }
      p{
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 2.0;
      }
      a{
        display: inline-block;
        padding: 15px;
        border-radius: 5px;
        color: #fff;
        background-color: rgba(255,193,7,0.5);
        transition: 0.5s;
      }
      a:hover{
        background-color: rgba(255,193,7,1);
      }
    }
  }
}

.intro{
    text-align: center;
    .intro-h1{
      width: 100%;
    }
    h1{
      display: inline-block;
      padding: 40px 0 10px;
      font-size: 25px;
      border-bottom: 2px solid #FFC107;
    }
    .intro-image{
      width: 150px;
      height: 150px;
    }
    p{
      display:inline-block;
      margin: 0 auto;
      padding: 30px 50px;
      width: 600px;
      line-height: 2;
    }
  }
// intro2
  .intro2{
        text-align: center;
        background-color: rgb(252, 252, 252);
        padding-bottom: 40px;
        .intro2-h1{
          width: 100%;
        }
        h1{
          display: inline-block;
          padding: 40px 0 10px;
          font-size: 25px;
          border-bottom: 2px solid #FFC107;
        }
        .intro-box{
          padding-top:40px ;
        .centers{
          margin: 0 auto;
          .content{
            a{
              display: block;
              padding: 10px 0;
              color:rgb(120, 120, 120);
            }
          }
        }
      }
  }

  .intro3{
    text-align: center;
    padding: 100px 0 100px;
    background-image:url('back.png');
    background-size: cover;
    .intro-h3{
      width: 100%;
    }
    h1{
      display: inline-block;
      padding: 40px 0 10px;
      font-size: 25px;
      border-bottom: 2px solid #FFC107;
      color: #fff;
    }
    p{
      display:block;
      margin: 0 auto;
      padding: 30px 50px;
      width: 600px;
      line-height: 2;
      color: #fff;
    }
    a{
      display: inline-block;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      background-color: rgba(255,193,7,0.5);
      transition: 0.5s;
    }
    a:hover{
      background-color: rgba(255,193,7,1);
    }
  }



// Wishes show
#canvas {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        }

#body   {
        position:absolute;
        top:0;
        left:0;
        }

.height{
  height: 70px;
  .header-title{
  color: #FFC107;
  }
}

.main {
    width: 100%;
    text-align: center;

    .main-title {
        display: inline-block;
        padding: 100px 30px 40px;
        font-size: 60px;
        font-family: cursive;
    }

    .main_image {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        border: solid 3px #FFC107;
    }

    .message {
        display: inline-block;
        width: 500px;
        padding: 30px;
    }
}

.img_people {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.img_people:hover {
    opacity: 0.5;
}
