// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.desc {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.deadline {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#preview {
  text-align: center;
}

#preview img{
  max-width: 100%;  
}