// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// complete
.thankyou-main {
  width: 100%;
  text-align: center;
  .textcontainer{
    margin: 0 auto;
    width: 700px;
    h1{
        font-size: 40px;
        display: inline-block;
        padding: 30px 0;
    }
    .text-box{
      padding: 30px;
      border: 1px solid #FFC107;
      border-radius: 10px;
      width: 500px;
      margin: 0 auto;
      p{
        line-height: 2;
      }
    }
  }

}

// form
.form-title{
  text-align: center;
  h1{
    font-size: 40px;
    display: inline-block;
    padding: 40px 0 20px;

  }
}
.centerform{
  width: 600px;
  margin: 0 auto !important;
}

// confirm
.textcontainer{
  text-align: center;
  h1{
    font-size: 40px;
    display: inline-block;
    padding: 40px 0;
  }
  p{
    line-height: 2.0;
  }
}
