<div class="ui fixed menu height">
	<div class="ui container">
		<a href="#" class="header item header-title" style="color:#FFC107;">
			BirthdayWishes
		</a>
		<%= link_to "Home", root_path, class:"item" %>
	</div>
</div>