<!DOCTYPE html>
<html>
  <head>
    <title>BirthdayWishes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui fixed menu height">
    <div class="ui container">
      <a href="#" class="header item header-title" style="color:#FFC107;">
        BirthdayWishes
      </a>
      <a href="#" class="item">Home</a>


      </div>
    </div>
    <%= yield %>
  </body>
</html>
